<h1>Exercise Library</h1>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th style="width: 18%">Exercise Name</th>
    <th>Instruction</th>
    <th>Duration</th>
    <th>Hold</th>
    <th>Reps</th>
    <th>Image URL</th>
    <th>Video URL</th>
  </tr>
 
  <% @exercises.each do |exercise| %>
    <tr>
      <td><%= exercise["name"].downcase.capitalize %></td>
      <td><%= exercise["instruction"].downcase.capitalize %></td>
	  <td><%= exercise["duration"] %></td>
	  <td><%= exercise["hold"] %></td>
  	  <td><%= exercise["reps"] %></td>
  	  <td><%= exercise["imgURL"] %></td>
  	  <td><%= exercise["videoURL"] %></td>
    </tr>
  <% end %>
</table>
